blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
idna==3.7
instaloader==4.11
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
requests==2.32.3
urllib3==2.2.1
Werkzeug==3.0.3
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
idna==3.7
instaloader==4.11
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
oauthlib==3.2.2
praw==7.7.1
prawcore==2.4.0
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==1.3.1
update-checker==0.18.0
urllib3==2.2.1
websocket-client==1.8.0
Werkzeug==3.0.3
absl-py==2.1.0
accelerate==0.31.0
astunparse==1.6.3
bitsandbytes==0.43.1
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
easyocr==1.7.1
filelock==3.13.1
Flask==3.0.3
flatbuffers==24.3.25
fsspec==2024.2.0
gast==0.5.4
google-pasta==0.2.0
grpcio==1.64.1
h5py==3.11.0
huggingface-hub==0.23.3
idna==3.7
imageio==2.34.1
instaloader==4.11
intel-openmp==2021.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
keras==3.3.3
lazy_loader==0.4
libclang==18.1.1
loralib==0.1.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mkl==2021.4.0
ml-dtypes==0.3.2
mpmath==1.3.0
namex==0.0.8
networkx==3.2.1
ninja==1.11.1.1
nltk==3.8.1
numpy==1.26.4
oauthlib==3.2.2
opencv-python==4.10.0.82
opencv-python-headless==4.10.0.82
opt-einsum==3.3.0
optree==0.11.0
packaging==24.0
pandas==2.2.2
peft==0.11.1
pillow==10.2.0
praw==7.7.1
prawcore==2.4.0
protobuf==4.25.3
psutil==5.9.8
pyclipper==1.3.0.post5
Pygments==2.18.0
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==1.3.1
rich==13.7.1
safetensors==0.4.3
scikit-image==0.23.2
scipy==1.13.1
sentencepiece==0.2.0
setuptools==70.0.0
shapely==2.0.4
six==1.16.0
sympy==1.12
tbb==2021.11.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow
tensorflow-intel
termcolor==2.4.0
tifffile==2024.5.22
tokenizers==0.19.1
torch
torchaudio
torchvision
tqdm==4.66.4
transformers
typing_extensions==4.12.1
tzdata==2024.1
update-checker==0.18.0
urllib3==2.2.1
websocket-client==1.8.0
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
